@use '../tools/variable' as v;
@use '../tools/mixin' as m;

.main {
	flex: 1;
}

.container {
	margin-inline: auto;
	padding-inline: v.$grow*3;
	width: 100%; 
	
	@include m.respond-to(xs) {
		max-width: 46.5em;
	}
	
	@include m.respond-to(s) {
		max-width: 63.9375em;
		padding-inline: v.$grow*4;
	}
		
	@include m.respond-to(m) {
		max-width: 90em;
	}
}
