@use '../tools/variable' as v;
@use '../tools/mixin' as m;

.main {
	flex: 1;
}

.container {
	margin-inline: auto;
	padding-inline: v.$grow*3;
	width: 100%; 
	
	@include m.respond-to(xs) {
		max-width: 744px;
	}
	
	@include m.respond-to(s) {
		max-width: 1023px;
		padding-inline: v.$grow*4;
	}
	
	@include m.respond-to(m) {
		max-width: 1023px;
	}
	
	@include m.respond-to(m) {
		max-width: 1440px;
	}
}
