@use "sass:map";
@use '../tools/variable' as v;
@use '../tools/mixin' as m;

.tooltip {
	display: inline-block;
	margin-left: v.$grow;
	position: relative;
	vertical-align: middle;

	&__text {
		@include m.font($family: v.$secondary-family, $size: s, $weight: medium);
		@include m.position(absolute, $bottom: 100%, $left: 50%);
		background: v.$white;
		border-radius: v.$grow;
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .20);
		opacity: 0;
		padding: v.$grow;
		pointer-events: none;
		transform: translate(-50%, -8px);
		transition: opacity 150ms ease, transform 150ms ease;
		visibility: hidden;
		white-space: nowrap;
		z-index: 10;

		&::after {
			@include m.position(absolute, $bottom: -12px, $left: 50%);
			border: 6px solid transparent;
			border-top-color: v.$white;
			content: "";
			transform: translateX(-50%);
		}

		@at-root [data-open="true"] & {
			opacity: 1;
			visibility: visible;
			transform: translate(-50%, 0);
		}
	}	
}